<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonathan.proyectofinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Cursos" />
        <activity android:name=".CursosInfo.PingPong" />
        <activity android:name=".CursosInfo.Capoeira" />
        <activity android:name=".RegistroEstudiante.RegistroEstudiante" />
        <activity android:name=".CursosInfo.Tenis" />
        <activity android:name=".CursosInfo.Futbol" />
        <activity android:name=".CursosInfo.Ballet" />
        <activity android:name=".CursosInfo.Baloncesto" />
        <activity android:name=".RegistroCurso.RegistroCurso" />
        <activity android:name=".VerPerfil" />
        <activity android:name=".Prestamos.prestamos" />
        <activity android:name=".Administrador.administrador" />
        <activity android:name=".Administrador.adminEventos" />
        <activity android:name=".Administrador.adminPrestamos"></activity>
    </application>

</manifest>